/AnotherClassifier.class
/Classifiers.class
/Controller.class
/DataHandler.class
/DataPoint$Orientation.class
/DataPoint.class
/DataSet.class
/MachineLearning.class
/MachineLearningInterface.class
/Menu.class
/NearestNeighbor.class
/main.class
/ClassifierNames.class
